<div class="header affix" data-spy="affix" data-offset-top="50">
  <div class="container">
    <div class="logo">
      <a href="{{ site.baseurl }}"><img width="{{ site.logo.desktop_width }}" height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ site.baseurl }}"><img width="{{ site.logo.mobile_width }}" height="{{ site.logo.mobile_height }}" alt="{{ site.title }}" src="{{ site.logo.mobile | relative_url }}" /></a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
<div class="affix-banner" data-spy="affix-banner" data-offset-top="250">
  <div class="row center-xs">
    <img src="https://ufohibachi-246737165.imgix.net/images/banner/banner_4k.jpg">
  </div>
</div>