.page-menu {
  .main_title {
    font-family: Montserrat, sans-serif;
    text-align: center;
    @include media-breakpoint-up(sm) {
      padding-top: 80px;
      font-size: 2.5rem;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 40px;
      font-size: 1.5rem;
    }
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:cadetblue;
  }
  .sub_title {
    font-family: Montserrat, sans-serif;
    text-align: center;
    @include media-breakpoint-up(sm) {
      padding-top: 40px;
      font-size: 2.5rem;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 20px;
      font-size: 1.3rem;
    }
    font-weight: bolder;
    letter-spacing: 5px;
  }
  .menu_image {
    width: 100%;
  }
}
