.page-menu {
  .main_title {
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding-top: 70px;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 10px;
  }
  .menu_image {
    width: 100%;
  }
}
