.header {
  color: $primary;
  opacity: 20;
  //background-color: #ffffff;
  background-color: rgba(255,255,255,.8);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  border-bottom: 1px solid $white-offset;
  padding: 10px 0px;
  position: static;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
.affix {
  position: fixed;
  top: 0;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1000;
}
.affix-banner {
  position: fixed;
  top: 0;
  margin-top: 100px;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1000;
  align-items: center;
}
@keyframes fadeout {
  0% { opacity: 1.0; }
  75% { opacity: 1.0; }
  100% { opacity: 0.0; }
}
.banner-fadeout {
  animation: fadeout 3s ease-in normal 1;
}
