---
layout: default
bodyClass: "page-about"
---

<div class="intro">
    <div class="container pt-6 pb-6 pb-md-10">
        <div class="row justify-content-start">
            <article class="col-xs-12 col-sm-12 col-md-8 col-lg-9 post">
                <div class="content">{{content}}</div>
            </article>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 site_sidebar">
                <div id="contact-info-3" class="widget contact-info">
                    <h3 class="section-title center-xs center-sm">Contact</h3>				
                    <div class="phone-number">
                        <h5>Phone</h5>
                        <p><a href="tel:678.404.7692">678.404.7692</a></p>
                    </div>
                    <div class="emailaddress-number">
                        <h5>Email</h5>
                        <a href="mailto:ufohibachi@gmail.com">ufohibachi@gmail.com</a>
                    </div>
                </div>
                <div id="location-widget-3" class="widget location-widget"><h3 class="section-title center-xs center-sm">Location</h3>
                    <iframe class="gmap" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13224.135397627266!2d-84.3275883!3d34.0430028!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5759d5cea24b7%3A0x17b653bef40560f5!2sUFO%20Hibachi%20Express!5e0!3m2!1sen!2sus!4v1719761599271!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p class="location">1010 Mansell Rd Suite 170,
Roswell, GA 30076</p>
                    <a href="https://www.google.com/maps/dir//UFO+Hibachi+Express,+1010+Mansell+Rd+%23170,+Roswell,+GA+30076/@34.0430028,-84.3275883,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x88f5759d5cea24b7:0x17b653bef40560f5!2m2!1d-84.3275883!2d34.0430028?entry=ttu" target="_blank">Get Directions</a>
                </div>
            </div>
        </div>
    </div>
</div>
