---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      <main class="site__content" role="main">

        <section class="home-slider">
          <div id="homepage-carousel" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer">
              <div class="owl-wrapper" style="width: 16248px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(-4062px, 0px, 0px); transform-origin: 5077.5px center; perspective-origin: 5077.5px center;">
                <div class="owl-item" style="width: 2031px;">
                  <div class="item">
                    <img width="1500" height="1000" src="https://ufohibachiexpress.restaurantengine.com/files/2019/08/A1-chicken-hibachi-.jpg" class="attachment-full size-full wp-post-image" alt="" decoding="async" fetchpriority="high" srcset="https://ufohibachiexpress.restaurantengine.com/files/2019/08/A1-chicken-hibachi-.jpg 1500w, https://ufohibachiexpress.restaurantengine.com/files/2019/08/A1-chicken-hibachi--300x200.jpg 300w, https://ufohibachiexpress.restaurantengine.com/files/2019/08/A1-chicken-hibachi--768x512.jpg 768w, https://ufohibachiexpress.restaurantengine.com/files/2019/08/A1-chicken-hibachi--1024x683.jpg 1024w" sizes="(max-width: 1500px) 100vw, 1500px">
                  </div>
                </div>
                <div class="owl-item" style="width: 2031px;">
                  <div class="item">
                    <img width="1500" height="1000" src="https://ufohibachiexpress.restaurantengine.com/files/2019/08/A5-beef-shrimp-hibachi-.jpg" class="attachment-full size-full wp-post-image" alt="" decoding="async" srcset="https://ufohibachiexpress.restaurantengine.com/files/2019/08/A5-beef-shrimp-hibachi-.jpg 1500w, https://ufohibachiexpress.restaurantengine.com/files/2019/08/A5-beef-shrimp-hibachi--300x200.jpg 300w, https://ufohibachiexpress.restaurantengine.com/files/2019/08/A5-beef-shrimp-hibachi--768x512.jpg 768w, https://ufohibachiexpress.restaurantengine.com/files/2019/08/A5-beef-shrimp-hibachi--1024x683.jpg 1024w" sizes="(max-width: 1500px) 100vw, 1500px">
                  </div>
                </div>
                <div class="owl-item" style="width: 2031px;">
                  <div class="item">
                    <img width="1500" height="1000" src="https://ufohibachiexpress.restaurantengine.com/files/2019/08/V6-chicken-shrimp-Low-carb-hibachi-.jpg" class="attachment-full size-full wp-post-image" alt="" decoding="async" srcset="https://ufohibachiexpress.restaurantengine.com/files/2019/08/V6-chicken-shrimp-Low-carb-hibachi-.jpg 1500w, https://ufohibachiexpress.restaurantengine.com/files/2019/08/V6-chicken-shrimp-Low-carb-hibachi--300x200.jpg 300w, https://ufohibachiexpress.restaurantengine.com/files/2019/08/V6-chicken-shrimp-Low-carb-hibachi--768x512.jpg 768w, https://ufohibachiexpress.restaurantengine.com/files/2019/08/V6-chicken-shrimp-Low-carb-hibachi--1024x683.jpg 1024w" sizes="(max-width: 1500px) 100vw, 1500px">
                  </div>
                </div>
                <div class="owl-item" style="width: 2031px;">
                  <div class="item">
                    <img width="1500" height="1000" src="https://ufohibachiexpress.restaurantengine.com/files/2019/08/T4-All-Kind-Taco-.jpg" class="attachment-full size-full wp-post-image" alt="" decoding="async" srcset="https://ufohibachiexpress.restaurantengine.com/files/2019/08/T4-All-Kind-Taco-.jpg 1500w, https://ufohibachiexpress.restaurantengine.com/files/2019/08/T4-All-Kind-Taco--300x200.jpg 300w, https://ufohibachiexpress.restaurantengine.com/files/2019/08/T4-All-Kind-Taco--768x512.jpg 768w, https://ufohibachiexpress.restaurantengine.com/files/2019/08/T4-All-Kind-Taco--1024x683.jpg 1024w" sizes="(max-width: 1500px) 100vw, 1500px">
                  </div>
                </div>
              </div>
            </div>
          <div class="owl-controls">
            <div class="owl-pagination">
              <div class="owl-page">
                <span class=""></span>
              </div>
              <div class="owl-page">
                <span class=""></span>
              </div>
              <div class="owl-page active">
                <span class=""></span>
              </div><div class="owl-page">
                <span class=""></span>
              </div>
            </div>
            <div class="owl-buttons">
              <div class="owl-prev">
                <svg class="icon icon-chevron-left">
                  <use xlink:href="#icon-chevron-left"></use>
                </svg>
              </div>
              <div class="owl-next">
                <svg class="icon icon-chevron-right">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        
        <div class="container home-slider__caption__container">
          <div class="row home-slider__caption__row center-xs center-sm">
            <div class="home-slider__caption col-xs-12 col-sm-10 col-md-8 col-lg-6">
              <p>
                <img decoding="async" class="ufo-slogan aligncenter wp-image-115 size-medium" src="http://ufohibachiexpress.restaurantengine.com/files/2012/02/3-UFO-slogan-NB-300x204.png" alt="" width="300" height="204" srcset="https://ufohibachiexpress.restaurantengine.com/files/2012/02/3-UFO-slogan-NB-300x204.png 300w, https://ufohibachiexpress.restaurantengine.com/files/2012/02/3-UFO-slogan-NB.png 663w" sizes="(max-width: 300px) 100vw, 300px">
              </p>
              <div class="ufo-button">
                <a href="/menu">Browse Our Menu</a>
              </div>
            </div>
          </div>
        </div>

        </section>
        <section class="container home-food-items">
          <div class="row">
            <header class="col-xs-12 col-sm-12 center-xs center-sm">
              <h2 class="section-title">Fresh off The Grill Everytime</h2>
            </header>
            <div class="col-xs-12 col-sm-6 col-md-3 card__wrap">
              <div class="card ">
                <a href="https://www.ufohibachi.com/food/shrimp-salad/">
                  <img width="270" height="266" src="https://ufohibachiexpress.restaurantengine.com/files/2017/06/Shrimp-Salad-270x266.jpg" class="card__image wp-post-image" alt="" decoding="async" srcset="https://ufohibachiexpress.restaurantengine.com/files/2017/06/Shrimp-Salad-270x266.jpg 270w, https://ufohibachiexpress.restaurantengine.com/files/2017/06/Shrimp-Salad-300x294.jpg 300w, https://ufohibachiexpress.restaurantengine.com/files/2017/06/Shrimp-Salad-75x75.jpg 75w" sizes="(max-width: 270px) 100vw, 270px">
                </a>
                <div class="card__caption">
                  <h4 class="card__title">
                    <a href="https://www.ufohibachi.com/food/shrimp-salad/">Shrimp Salad</a>
                  </h4>
                  <div class="card__description">
                  </div>
                </div>
              </div>
            </div>     
            <div class="col-xs-12 col-sm-6 col-md-3 card__wrap">
              <div class="card ">
                <a href="https://www.ufohibachi.com/food/hibachi-chicken/">
                  <img width="270" height="266" src="https://ufohibachiexpress.restaurantengine.com/files/2017/06/Hibachi-Chicken-1-270x266.jpg" class="card__image wp-post-image" alt="" decoding="async" srcset="https://ufohibachiexpress.restaurantengine.com/files/2017/06/Hibachi-Chicken-1-270x266.jpg 270w, https://ufohibachiexpress.restaurantengine.com/files/2017/06/Hibachi-Chicken-1-75x75.jpg 75w" sizes="(max-width: 270px) 100vw, 270px">
                </a>
                <div class="card__caption">
                  <h4 class="card__title">
                    <a href="https://www.ufohibachi.com/food/hibachi-chicken/">Hibachi Chicken</a>
                  </h4>
                  <div class="card__description">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 card__wrap">
              <div class="card ">
                <a href="https://www.ufohibachi.com/food/chicken-curry/">
                  <img width="270" height="266" src="https://ufohibachiexpress.restaurantengine.com/files/2017/06/Chicken-Curry-270x266.jpg" class="card__image wp-post-image" alt="" decoding="async" srcset="https://ufohibachiexpress.restaurantengine.com/files/2017/06/Chicken-Curry-270x266.jpg 270w, https://ufohibachiexpress.restaurantengine.com/files/2017/06/Chicken-Curry-75x75.jpg 75w" sizes="(max-width: 270px) 100vw, 270px">
                </a>
                <div class="card__caption">
                  <h4 class="card__title">
                    <a href="https://www.ufohibachi.com/food/chicken-curry/">Chicken Curry</a>
                  </h4>
                  <div class="card__description">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 card__wrap">
              <div class="card ">
                <a href="https://www.ufohibachi.com/food/taco/">
                  <img width="270" height="266" src="https://ufohibachiexpress.restaurantengine.com/files/2017/06/Taco-270x266.jpg" class="card__image wp-post-image" alt="" decoding="async" srcset="https://ufohibachiexpress.restaurantengine.com/files/2017/06/Taco-270x266.jpg 270w, https://ufohibachiexpress.restaurantengine.com/files/2017/06/Taco-75x75.jpg 75w" sizes="(max-width: 270px) 100vw, 270px">
                </a>
                <div class="card__caption">
                  <h4 class="card__title">
                    <a href="https://www.ufohibachi.com/food/taco/">Taco</a>
                  </h4>
                  <div class="card__description"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="home-widgets" style="background-image: url(https://ufohibachiexpress.restaurantengine.com/files/2017/06/widget.jpg);">
          <div class="container">
            <div class="row">
              <div id="custom_html-2" class="widget_text col-xs-12 col-sm-12 col-md-6 col-lg-4 widget widget_custom_html"><div>
                <h3 class="section-title center-xs center-sm">Roswell, GA</h3>
                <div class="textwidget custom-html-widget">
                  <h3 style="text-align: center;">
                    <a href="tel:470-901-6769" class="tel-loc">470.901.6769</a>
                  </h3>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.0306730468164!2d-84.32989258478518!3d34.04308428060856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5759d5cea24b7%3A0x17b653bef40560f5!2sUFO+Hibachi+Express!5e0!3m2!1sen!2sph!4v1566191596272!5m2!1sen!2sph" width="290" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                  <p class="location">1010 Mansell Rd
Roswell, GA 30076</p>
                    <a href="https://www.google.com/maps/dir//UFO+Hibachi+Express,+1010+Mansell+Rd+Suite+170,+Roswell,+GA+30076,+USA/@34.043084,-84.327704,15z/data=!4m9!4m8!1m0!1m5!1m1!1s0x88f5759d5cea24b7:0x17b653bef40560f5!2m2!1d-84.3277039!2d34.0430843!3e0?hl=en" target="_blank" class="loc-dir" rel="noopener">Get Directions</a>
                </div>
              </div>
            </div>
            <div id="custom_html-3" class="widget_text col-xs-12 col-sm-12 col-md-6 col-lg-4 widget widget_custom_html">
              <div>
                <h3 class="section-title center-xs center-sm">Johns Creek, GA</h3>
                <div class="textwidget custom-html-widget">
                  <h3 style="text-align: center;">
                    <a href="tel:770-609-6416" class="tel-loc">770.609.6416</a>
                  </h3>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.1110699595965!2d-84.19211928448041!3d34.015359827119525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5a1fe182db4b9%3A0xf4e916a4388e81ce!2sUFO+Hibachi+Express!5e0!3m2!1sen!2sph!4v1566191661754!5m2!1sen!2sph" width="290" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                  <h4>Roswell Location</h4>
                  <div class="hours-widget">
                    <p>Our up to date business hours and special holiday hours available on <a href="https://www.google.com/maps/place/UFO+Hibachi+Express/@34.0430028,-84.3275883,15z/data=!4m6!3m5!1s0x88f5759d5cea24b7:0x17b653bef40560f5!8m2!3d34.0430028!4d-84.3275883!16s%2Fg%2F11fmwt_0g3?entry=ttu" rel="noopener" target="_blank">Google!</a></p>
                    <div id="contact-info-2" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 widget contact-info">
                    </div>
                    <div>
                      <h3 class="section-title center-xs center-sm">Contact</h3>
                      <div class="phone-number">
                        <h5>Phone</h5>
                        <p><a href="tel:770.756.5555">770.756.5555</a></p>
                      </div>
                      <div class="emailaddress-number">
                        <h5>Email</h5>
                        <p>
                          <a href="mailto:ufohibachi@gmail.com">ufohibachi@gmail.com</a><br>
                          <a href="mailto:ufohibachi@yahoo.com">ufohibachi@yahoo.com</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>
</div>
