---
layout: default
bodyClass: "page-home"
---

<section class="food-slider site_content">
  <div id="foodsCarouselIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval=3000 data-bs-pause=hover>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#foodsCarouselIndicators" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#foodsCarouselIndicators" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#foodsCarouselIndicators" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#foodsCarouselIndicators" data-bs-slide-to="3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="carousel-img d-block w-100" src="https://ufohibachi-246737165.imgix.net/images/foods/a1-chicken-hibachi.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="carousel-img d-block w-100" src="https://ufohibachi-246737165.imgix.net/images/foods/a5-beef-shrimp-hibachi.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="carousel-img d-block w-100" src="https://ufohibachi-246737165.imgix.net/images/foods/v6-chicken-shrimp-low-carb-hibachi.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="carousel-img d-block w-100" src="https://ufohibachi-246737165.imgix.net/images/foods/t4-all-kind-taco.jpg" alt="Third slide">
      </div>
    </div>

    <!-- Control Btn -->
    <button class="carousel-control-prev" type="button" data-bs-target="#foodsCarouselIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#foodsCarouselIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container home-slider__caption__container center">
    <div class="row home-slider__caption__row center center-xs center-sm col-lg-12 col-sm-12 col-md-12">
      <div class="home-slider__caption col-12 col-xs-6 col-sm-12 col-md-6 col-lg-6">
        <p>
          <img decoding="async" class="aligncenter wp-image-115 size-medium" src="https://ufohibachi-246737165.imgix.net/images/etc/3-ufo-slogan-nb.png" alt="" width="300" height="204" srcset="https://ufohibachi-246737165.imgix.net/images/etc/3-ufo-slogan-nb-300x204.png 900w, https://ufohibachi-246737165.imgix.net/images/etc/3-ufo-slogan-nb.png 1200w" sizes="(max-width: 900px) 100vw, 300px">
        </p>
        <div class="slogan_text"><a href="/menu">Browse Our Menu</a>
        </div>
        <p><!-- [button url="/menu"]Browse Our Menu[/button] --></p>
      </div>
    </div>
  </div>
  <br>
</section>

<div class="container">
<!-- <div class="container"> -->
  <div class="row justify-content-start">
    <main role="main">
      <section class="container home-food-items">
        <div class="row">
          <header class="col-xs-12 col-sm-12 center-xs center-sm">
            <h1 class="section-title center-xs center-sm" style="text-align: center;"><b>Fresh off The Grill Everytime</b></h1>
          </header>
          <div class="col-6 col-xs-3 col-sm-6 col-md-6 col-lg-3">
            <img width="100%" src="https://ufohibachi-246737165.imgix.net/images/foods/shrimp-salad-270x266.jpg" class="card__image wp-post-image" alt="" decoding="async" srcset="https://ufohibachi-246737165.imgix.net/images/foods/shrimp-salad-270x266.jpg 270w, https://ufohibachi-246737165.imgix.net/images/foods/shrimp-salad-300x294.jpg 300w, https://ufohibachi-246737165.imgix.net/images/foods/shrimp-salad-75x75.jpg 75w" sizes="(max-width: 270px) 100vw, 270px">
          </div>
          <div class="col-6 col-xs-3 col-sm-6 col-md-6 col-lg-3">
            <img width="100%" src="https://ufohibachi-246737165.imgix.net/images/foods/hibachi-chicken-1-270x266.jpg" class="card__image wp-post-image" alt="" decoding="async" srcset="https://ufohibachi-246737165.imgix.net/images/foods/hibachi-chicken-1-270x266.jpg 270w, https://ufohibachi-246737165.imgix.net/images/foods/hibachi-chicken-1-75x75.jpg 75w" sizes="(max-width: 270px) 100vw, 270px">
          </div>
          <div class="col-6 col-xs-3 col-sm-6 col-md-6 col-lg-3">
            <img width="100%" src="https://ufohibachi-246737165.imgix.net/images/foods/chicken-curry-270x266.jpg" class="card__image wp-post-image" alt="" decoding="async" srcset="https://ufohibachi-246737165.imgix.net/images/foods/chicken-curry-270x266.jpg 270w, https://ufohibachi-246737165.imgix.net/images/foods/chicken-curry-75x75.jpg 75w" sizes="(max-width: 270px) 100vw, 270px">
          </div>
          <div class="col-6 col-xs-3 col-sm-6 col-md-6 col-lg-3">
            <img width="100%" src="https://ufohibachi-246737165.imgix.net/images/foods/taco-270x266.jpg" class="card__image wp-post-image" alt="" decoding="async" srcset="https://ufohibachi-246737165.imgix.net/images/foods/taco-270x266.jpg 270w, https://ufohibachi-246737165.imgix.net/images/foods/taco-75x75.jpg 75w" sizes="(max-width: 270px) 100vw, 270px">
          </div>
        </div>
      </section>
    </main>
  </div>
<!-- </div> -->
</div>

<section class="home-widgets" style="background-image: url(https://ufohibachi-246737165.imgix.net/images/foods/bg_widget.jpg);">
  <div class="container">
    <div class="row">
      <div id="text-2" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 widget widget_text">
        <div>
          <h3 class="section-title center-xs center-sm">Hours</h3>
          <div class="textwidget"><br>
            <div class="hours-widget">
              <p style="color: white;">Our up to date business hours and special holiday hours available on <a style="color: #d51616;"href="https://www.google.com/maps/place/UFO+Hibachi+Express/@34.0430028,-84.3275883,15z/data=!4m6!3m5!1s0x88f5759d5cea24b7:0x17b653bef40560f5!8m2!3d34.0430028!4d-84.3275883!16s%2Fg%2F11fmwt_0g3?entry=ttu" rel="noopener" target="_blank">Google!</a></p>
              <div>
                <h3 class="section-title center-xs center-sm">Contact</h3>
                <div class="phone-number">
                  <h5>Phone</h5>
                  <p><a href="tel:470.901.6769">470.901.6769</a></p>
                </div>
                <div class="emailaddress-number">
                  <h5>Email</h5>
                    <p>
                      <a href="mailto:ufohibachi@gmail.com">ufohibachi@gmail.com</a>
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="custom_html-2" class="widget_text col-xs-12 col-sm-12 col-md-6 col-lg-4 widget widget_custom_html">
        <div>
          <h3 class="section-title center-xs center-sm">Location</h3><br>
          <div class="textwidget custom-html-widget">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.0306730468164!2d-84.32989258478518!3d34.04308428060856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5759d5cea24b7%3A0x17b653bef40560f5!2sUFO+Hibachi+Express!5e0!3m2!1sen!2sph!4v1566191596272!5m2!1sen!2sph" width="290" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe><br>
            <p class="location">1010 Mansell Rd Suite 170, Roswell, GA 30076</p>
            <a href="https://www.google.com/maps/dir//UFO+Hibachi+Express,+1010+Mansell+Rd+%23170,+Roswell,+GA+30076/@34.0430028,-84.3275883,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x88f5759d5cea24b7:0x17b653bef40560f5!2m2!1d-84.3275883!2d34.0430028?entry=ttu" target="_blank" style="color:#d51616">Get Directions</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>