---
layout: default
bodyClass: "page-home"
---

<div class="container"></div>
  <div class="row justify-content-start">
    <main class="site_content" role="main">
      <section class="home-slider">
        <div class="slideshow-container">
          <div id="homepage-carousel" class="ufo-carousel ufo-theme" style="opacity: 1; display: block;">
            <div class="uof-wrapper-outer">
              <div class="ufo-wrapper" style="width: auto; left: 0px; display: block;">

                <!--<div class="text">Caption Text</div>-->
                <!-- Full-width images with number and caption text -->
                <div class="mySlides fade" style="width: 100%;">
                  <img src="https://ufohibachiexpress.restaurantengine.com/files/2019/08/A1-chicken-hibachi-.jpg" width="100%">
                </div>

                <div class="mySlides fade" style="width: 100%;">
                  <img src="https://ufohibachiexpress.restaurantengine.com/files/2019/08/A5-beef-shrimp-hibachi-.jpg" width="100%">
                </div>

                <div class="mySlides fade" style="width: 100%;">
                  <img src="https://ufohibachiexpress.restaurantengine.com/files/2019/08/V6-chicken-shrimp-Low-carb-hibachi-.jpg" width="100%">
                </div>

                <div class="mySlides fade" style="width: 100%;">
                  <img src="https://ufohibachiexpress.restaurantengine.com/files/2019/08/T4-All-Kind-Taco-.jpg" width="100%">
                </div>
                
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
              </div>
            </div>
          </div>
          
          <div class="container home-slider__caption__container">
            <div class="row home-slider__caption__row center-xs center-sm">
              <div class="home-slider__caption col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p>
                  <img decoding="async" class="ufo-slogan aligncenter wp-image-115 size-medium" src="http://ufohibachiexpress.restaurantengine.com/files/2012/02/3-UFO-slogan-NB-300x204.png" alt="" width="300" height="204" srcset="https://ufohibachiexpress.restaurantengine.com/files/2012/02/3-UFO-slogan-NB-300x204.png 300w, https://ufohibachiexpress.restaurantengine.com/files/2012/02/3-UFO-slogan-NB.png 663w" sizes="(max-width: 300px) 100vw, 300px">
                </p>
                <div class="slogan_text"><a href="/menu">Browse Our Menu</a>
                </div>
                <p><!-- [button url="/menu"]Browse Our Menu[/button] --></p>
              </div>
            </div>
          </div>
        </div>
        <br>
      </section>
      <section class="container home-food-items">
        <div class="row">
          <header class="col-xs-12 col-sm-12 center-xs center-sm">
            <h1 class="section-title center-xs center-sm" style="text-align: center;"><b>Fresh off The Grill Everytime</b></h1>
          </header>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 card__wrap">
            <div class="card ">
              <img width="100%" src="https://ufohibachiexpress.restaurantengine.com/files/2017/06/Shrimp-Salad-270x266.jpg" class="card__image wp-post-image" alt="" decoding="async" srcset="https://ufohibachiexpress.restaurantengine.com/files/2017/06/Shrimp-Salad-270x266.jpg 270w, https://ufohibachiexpress.restaurantengine.com/files/2017/06/Shrimp-Salad-300x294.jpg 300w, https://ufohibachiexpress.restaurantengine.com/files/2017/06/Shrimp-Salad-75x75.jpg 75w" sizes="(max-width: 270px) 100vw, 270px">
            </div>
          </div>     
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 card__wrap">
            <div class="card ">
              <img width="100%" src="https://ufohibachiexpress.restaurantengine.com/files/2017/06/Hibachi-Chicken-1-270x266.jpg" class="card__image wp-post-image" alt="" decoding="async" srcset="https://ufohibachiexpress.restaurantengine.com/files/2017/06/Hibachi-Chicken-1-270x266.jpg 270w, https://ufohibachiexpress.restaurantengine.com/files/2017/06/Hibachi-Chicken-1-75x75.jpg 75w" sizes="(max-width: 270px) 100vw, 270px">
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 card__wrap">
            <div class="card ">
              <img width="100%" src="https://ufohibachiexpress.restaurantengine.com/files/2017/06/Chicken-Curry-270x266.jpg" class="card__image wp-post-image" alt="" decoding="async" srcset="https://ufohibachiexpress.restaurantengine.com/files/2017/06/Chicken-Curry-270x266.jpg 270w, https://ufohibachiexpress.restaurantengine.com/files/2017/06/Chicken-Curry-75x75.jpg 75w" sizes="(max-width: 270px) 100vw, 270px">
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 card__wrap">
            <div class="card ">
              <img width="100%" src="https://ufohibachiexpress.restaurantengine.com/files/2017/06/Taco-270x266.jpg" class="card__image wp-post-image" alt="" decoding="async" srcset="https://ufohibachiexpress.restaurantengine.com/files/2017/06/Taco-270x266.jpg 270w, https://ufohibachiexpress.restaurantengine.com/files/2017/06/Taco-75x75.jpg 75w" sizes="(max-width: 270px) 100vw, 270px">
            </div>
          </div>
        </div>
      </section>
      <section class="home-widgets" style="background-image: url(https://ufohibachiexpress.restaurantengine.com/files/2017/06/widget.jpg);">
        <div class="container">
          <div class="row">
            <div id="text-2" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 widget widget_text">
              <div>
                <h3 class="section-title center-xs center-sm">Hours</h3>
                <div class="textwidget"><br>
                  <div class="hours-widget">
                    <p style="color: white;">Our up to date business hours and special holiday hours available on <a style="color: #d51616;"href="https://www.google.com/maps/place/UFO+Hibachi+Express/@34.0430028,-84.3275883,15z/data=!4m6!3m5!1s0x88f5759d5cea24b7:0x17b653bef40560f5!8m2!3d34.0430028!4d-84.3275883!16s%2Fg%2F11fmwt_0g3?entry=ttu" rel="noopener" target="_blank">Google!</a></p>
                    <div>
                      <h3 class="section-title center-xs center-sm">Contact</h3>
                      <div class="phone-number">
                        <h5>Phone</h5>
                        <p><a href="tel:470.901.6769">470.901.6769</a></p>
                      </div>
                      <div class="emailaddress-number">
                        <h5>Email</h5>
                          <p>
                            <a href="mailto:ufohibachi@gmail.com">ufohibachi@gmail.com</a>
                          </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="custom_html-2" class="widget_text col-xs-12 col-sm-12 col-md-6 col-lg-4 widget widget_custom_html"><div>
              <h3 class="section-title center-xs center-sm">Location</h3><br>
              <div class="textwidget custom-html-widget">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.0306730468164!2d-84.32989258478518!3d34.04308428060856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5759d5cea24b7%3A0x17b653bef40560f5!2sUFO+Hibachi+Express!5e0!3m2!1sen!2sph!4v1566191596272!5m2!1sen!2sph" width="290" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe><br>
                <p class="location">1010 Mansell Rd Suite 170, Roswell, GA 30076</p>
                <a href="https://www.google.com/maps/dir//UFO+Hibachi+Express,+1010+Mansell+Rd+%23170,+Roswell,+GA+30076/@34.0430028,-84.3275883,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x88f5759d5cea24b7:0x17b653bef40560f5!2m2!1d-84.3275883!2d34.0430028?entry=ttu" target="_blank" style="color:#d51616">Get Directions</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>

<script>
  let slideIndex = 1;
  let timerId;

  showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  clearTimeout(timerId);
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide() {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slides[slideIndex-1].style.display = "block";   
  timerId = setTimeout(autoSlides, 5000); // Change image every 5 seconds
}

function autoSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  slides[slideIndex-1].style.display = "block";  
  timerId = setTimeout(autoSlides, 5000); // Change image every 5 seconds
}
</script>