---
layout: default
bodyClass: "page-menu"
---

<div class="intro">
  <div class="container">
    <article>
      <h1 class="main_title">Try Our<br>New & Refreshed Menu!</h1>
      <div class="row">
        <img decoding="async" alt="" class="menu_image" src="https://ufohibachi-246737165.imgix.net/images/menu2/menu1.jpg" />
      </div>
      <div class="row">
        <h2 class="sub_title">Lunch Menu</h2>
        <img decoding="async" alt="" class="menu_image" src="https://ufohibachi-246737165.imgix.net/images/menu2/menu2.jpg" />
      </div>
      <div class="row">
        <h2 class="sub_title">Dinner Menu</h2>
        <img decoding="async" alt="" class="menu_image" src="https://ufohibachi-246737165.imgix.net/images/menu2/menu3.jpg" />
      </div>
    </article>
  </div>
</div>
